$color-brand-primary: #C33439;
$color-black: #333333;
$color-grey: #525252;
$color-light-gray: #9A9A9A;
$color-white: #f3f3f3;

$color-facebook:#3b5999;
$color-twitter:#55acee;
$color-google-plus:#dd4b39;


//$color-brand-primary--dark: #C33439;
