.c-headline-stack {
  flex-basis: 270px;
  @include mq($from: tablet) {
    padding-right: 24px;
  }
}

.c-headline-stack {
  counter-reset: step;
  .c-media--side-count {
    //padding-top: 12px;
    //padding-bottom: 12px;
    margin-bottom: 0;
    &::before {
      content: '';
      counter-increment: step;
      content: counters(step, "");
      padding-right: 10px;
      padding-top: 4px;
      background: url("../img/random-path.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}



