.c-media {
  position: relative;
}

.c-media--image {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
  &::after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 72%;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-media--large {
  margin-bottom: 0;
  padding-bottom: 18px;
  .c-media--image {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    &::after {
      padding-bottom: 60%;
    }
  }
}

.c-media--small {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
  .c-media__headline {
    margin-top: auto;
  }
}

.c-media__flag {
  display: inline-block;
  margin-bottom: 12px;
  z-index: 3;
  a {
    color: $color-brand-primary;
    &:hover {
      color: $color-grey;
    }
  }
}

.c-media__headline {
  font-weight: bold;
  font-size: 18px;
  a {
    color: $color-black;
    &:hover {
      color: $color-brand-primary;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

}

.c-media--large {
  .c-media__headline {
    font-size: 32px;
  }
}

.c-media__byline {
  font-size: 14px;
  display: inline-block;
  z-index: 3;
  a {
    color: #525252;
    font-weight: bold;
    &:hover {
      color: $color-brand-primary;
    }
  }
}

.c-media__text {
  color: $color-grey;
  margin-top: $unit;
}

.c-media--main-content {
  @include mq($from: tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.c-media__status {
  background: $color-black;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 12px;
  a {
    color: #fff;
  }
}

.c-media--video {
  background: url("../img/video.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 33px;
  display: inline-block;

}

.c-media--side-icon {
  padding-right: 36px;
  position: relative;
  &::before {
    content: "";
    width: 30px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;;
  }
}

.c-media--icon-podcast {
  &::before {
    background: url("../img/podcast.svg");
    background-size: 24px 30px;
    background-repeat: no-repeat;
  }
}

.c-media__duration {
  color: #575757;
}

.c-media--horizontal {
  .c-media--image{
    margin-bottom: 0;
  }
}

.c-media--number {
  position: absolute;
  font-size: 32px;
  color: #fff;
  right: $unit-small;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.14);

}

.c-media__shares {
  color: #6e6e6e;
  strong {
    font-size: 32px;
    font-weight: bold;
  }
}

.c-media--rounded {

  .c-media--image {
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    background: #525252;
    &::after {
      padding-bottom: 100%;
    }
  }
}

.c-media--dark {
  .c-media--image {
    margin-bottom: 0;
    &::before {
      content: '';
      background: rgba(48, 48, 48, 0.8);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
  .c-media__byline {
    background: #C2C2C2;
    display: block;
    padding: $unit-small;
  }
  .c-media__headline {
    position: absolute;
    padding-right: $unit-small;
    width: 100%;
    z-index: 1;
    bottom: $unit-small;
    font-weight: normal;
    a {
      color: #fff;
    }
  }
}

.c-media__side-content {
  display: flex;
  flex-direction: column;

  .c-media__social-media {
    margin-top: auto;
  }
}