.c-search {
  margin-right: auto;
  margin-top: $unit-large;

  input[type= search] {
    @include basefont-regular;
    color: $color-white;
  }
}

.c-search--mobile {
  display: none;
  position: absolute;
}

.c-search--mobile.open {
  @media (max-width: 990px) {
    display: block;
    background: #a5a5a5;
    padding: 8px;

    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    input {
      @include basefont-regular;
      background: #fff;
      border-radius: 4px;
      border: none;
      width: 100%;
      padding: 8px;
    }
  }
}
