
.c-section {
  padding-top: $unit;
  padding-bottom: $unit;
  @include mq($from: tablet) {
    padding-top: $unit-large;
    padding-bottom: $unit-large;
  }
}

.c-section--pattern{
  background: url(../img/noon-pattern.png)  center bottom, #f4f4f4;
  background-size: cover;
  background-position: center;
}

.c-section--background{
  background: #f4f4f4;
}