.c-title {
  color: $color-brand-primary;
  font-size: 24px;
  margin-bottom: $unit;
  font-weight: 700;
  @include mq($from: tablet){
    margin-bottom: $unit-large;
  }
}

.c-subtitle {
  margin-bottom: $unit-large;
}