.c-view-all {
  border:1px solid #eee;
  color: $color-grey;
  display: inline-block;
  padding:$unit-tiny $unit;
  text-align: center;
  @include basefont-regular;
  margin-right: $unit;
  &:hover{
    border-color:$color-light-gray;
  }
}