.o-grid {

  display: grid;
  grid-gap: $unit;
  grid-template-rows: 1fr;
}

.o-grid-lg--2 {
  @include mq($from: tablet) {
    grid-template-columns: 2fr 3fr;
  }
  @include mq($from: desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.o-grid--2 {
  @include mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.o-grid-sm--2 {
  @include mq($from: 370px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.o-grid--3 {
  grid-gap:24px;
  @include mq($from: mobile) {
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  }
}
.o-grid--4 {
  @include mq($from: mobile) {
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  }
  @include mq($from: tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

}

.o-grid--6 {
  @include mq($from: mobile) {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}
