.o-horizontal-list {

  li {
    display: inline-block;
    a{
      display: inline-block;
    }
  }
}
.o-horizontal-list--expanded {

  li {
     //@include not-first-child() {
       margin-left: $unit-large;
   // }
  }
}

.o-vertical-list {

  li {
    @include not-first-child() {
      //padding-right: $unit-large;
    }
  }
}